/* General Rules */

* {
  font-family: "PT Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding-top: 50px;
}

/* Positioning */

.relative {
  position: relative;
}
#header img {
  width: 100px;
}

/* Background & text color */

.grey-bg {
  background-color: #f3f5f9;
}

.blue-bg {
  background-image: linear-gradient(#0046c4, #00219d);
}

.white-text {
  color: #fff;
}

.blue-text {
  color: #006aff;
}

.grey-text {
  color: #808693;
}

.heavyblue-text {
  color: #031c4e;
}

/* Text size */
h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}

h1 {
  font-size: 60px;
}

.bold-text {
  font-weight: bold;
}

/* Color heading title by Section */

p {
  color: #808693;
}

#section-main-2 h2,
h4 {
  color: #031c4e;
}

#section-main-3 h2,
h4 {
  color: #031c4e;
}

#section-main-4 h2,
h4 {
  color: #031c4e;
}

#section-main-6 h2,
h4 {
  color: #031c4e;
}

/* List item & Anchor Tag style */

#section-main-2 #col-link-section-2 li,
#footer li {
  list-style: none;
  padding: 3% 0;
}

#section-main-2 #col-link-section-2 li a,
#footer li a {
  color: #808693;
}
/* Header */
#header {
  background: url(../img/jumbo.svg) no-repeat center center/cover;
}

#header .navbar {
  background-color: #fff;
  border-bottom: none;
  border-radius: 0;
}

#header .navbar .navbar-brand {
  /* background: url(../img/logo.png) center / contain no-repeat; */
}

/* #header .navbar .navbar-left {
  padding-left: 10%;
} */

#header .navbar .navbar-right .btn {
  border-color: #006aff;
  color: #006aff;
  font-weight: bold;
}

#header .navbar .navbar-right .btn:hover {
  background-color: #006aff;
  color: #000;
  transition: 0.3s ease-in-out;
}

/* Jumbo Header */
#header-jumbo,
#section-main-1,
#section-main-2,
#section-main-3,
#section-main-4,
#section-main-5,
#section-main-6,
#section-main-7 {
  padding: 5% 0%;
}

#header #header-jumbo #jumbo-form {
  background-color: #fff;
  border-radius: 5px;
}

#blue-btn a {
  background-color: #006aff;
}

#google-btn a {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border: 1px solid #ccc;
}
#google-btn img {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 1%;
}

/* Main */

/* Section-main-1 */

/* Section-main-2 */
#section-main-2 #col-link-section-2 {
  border-left: 1px solid #999999;
}

/* Section-main-3 Section-main-6 CAROUSEL   */

.carousel {
  width: 70%;
  margin: 0 auto;
  padding: 5% 3%;
}

.carousel .carousel-control.left,
.carousel .carousel-control.right {
  background-image: none !important;
  color: #031c4e;
  text-shadow: none;
}

.carousel img {
  width: 80%;
  margin: 0 auto;
}
.carousel .carousel-indicators li {
  border-color: #006aff;
}
.carousel .carousel-indicators li.active {
  background-color: #006aff !important;
}

/* Main-Section-4 */

/* Section-main-5 */
#section-main-5 table tr td {
  color: #95aadd;
}
#section-main-5 .table tr td:first-of-type {
  font-weight: bold;
  color: #fff;
}

#section-main-5 .table tr:first-of-type td {
  border-top: none !important;
  border-left: none !important;
}

/* Section-main-7 */

/* Footer */

#footer {
  background-color: #031c4e;
}
