/* General Rules */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.relative {
  position: relative;
}

.grey-bg {
  background-color: #f3f5f9
}

.blue-bg {
  background-image: linear-gradient(#0046c4, #00219d);
}

.white-text {
  color: #fff;
}

.blue-text {
  color: #006aff;
}
/* Header */
#header {
  background: url(../img/jumbo.svg) no-repeat center center/cover;
}

#header .navbar {
  background-color: #fff;
  border-bottom: none;
  border-radius: 0;
}

#header .navbar .navbar-brand {
  background: url(../img/logo.png) center / contain no-repeat;
  width: 120px;
}

#header .navbar .navbar-left {
  padding-left: 10%;
}

#header .navbar .navbar-right .btn {
  border-color: #006aff;
  color: #006aff;
  font-weight: bold;
}

#header .navbar .navbar-right .btn:hover {
  background-color: #006aff;
  color: #000;
  transition: 0.3s ease-in-out;
}

/* Jumbo Header */

#header #header-jumbo #jumbo-form {
  background-color: #fff;
  border-radius: 5px;
}

#blue-btn a {
  background-color: #006aff;
}

#google-btn a {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border: 1px solid #ccc;
}
#google-btn img {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 1%;
}

/* Main */

/* Section-main-1 */



/* Section-main-2 */
#section-main-2 #col-link-section-2 {
  border-left: 1px solid #999999;
}

#section-main-2 #col-link-section-2 ul li {
  list-style: none;
  padding: 5% 0;
}

/* Section-main-3 */


/* Section-main-4 */
#section-main-4 .table tr:first-of-type td{
  border-top: none !important;
  border-left: none !important;
}



