/* General Rules */

* {
  font-family: "PT Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding-top: 50px;
}

/* Positioning */

.relative {
  position: relative;
}

/* Section Padding */

#header-jumbo,
#section-main-2,
#section-main-3,
#section-main-4,
#section-main-5,
#section-main-6,
#section-main-7,
#footer {
  padding: 2% 0;
}

/* Background & text color */

.grey-bg {
  background-color: #f3f5f9;
}

.blue-bg {
  background-image: linear-gradient(#0046c4, #00219d);
}

.white-text {
  color: #fff;
}

.blue-text {
  color: #006aff;
}

.grey-text {
  color: #808693;
}

.heavyblue-text {
  color: #031c4e;
}

.azure-text {
  color: #00d7d2;
}

/* Text size */

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}

h1 {
  font-size: 50px;
}

.bold-text {
  font-weight: bold;
}

/* Color heading title by Section */

p {
  color: #808693;
}

#section-main-2 h2,
h4 {
  color: #031c4e;
}

#section-main-3 h2,
h4 {
  color: #031c4e;
}

#section-main-4 h2,
h4 {
  color: #031c4e;
}

#section-main-6 h2,
h4 {
  color: #031c4e;
}

/* List item & Anchor Tag style */

#footer li {
  list-style: none;
  padding: 1% 0;
}

#section-main-2 #col-link-section-2 a,
#footer a {
  color: #808693;
}

#section-main-1 a,
#section-main-2 a,
#section-main-4 a {
  font-weight: bold;
  text-decoration: none;
}

#section-main-1 a:hover,
#section-main-4 a:hover,
#section-main-5 a:hover {
  color: blue;
  text-decoration: none;
}

/* After Arrows */

.right-text-arrow::after {
  content: ">";
  margin-left: 5px;
  position: relative;
  top: 1.5px;
}

/* Header */

#header {
  background: url(../img/jumbo.svg) no-repeat;
  background-size: cover;
}

/* Navbar */

#header .navbar {
  background-color: #fff;
  border-bottom: none;
  border-radius: 0;
}

#header .navbar ul li a {
  font-size: 15px;
  font-weight: bold;
  color: #000;
}

#header .navbar .collapsed {
  background-color: #006aff;
  border: #fff;
}

#header .navbar .collapsed span {
  background-color: #fff;
}

#header .navbar .navbar-brand img {
  width: auto;
  height: 100%;
}

#header .navbar .navbar-right .btn {
  border-color: #006aff;
  color: #006aff;
  font-weight: bold;
}

#header .navbar .navbar-right .btn:hover {
  background-color: #006aff;
  color: #000;
  transition: 0.3s ease-in-out;
}

/* Section Jumbo */

#header #header-jumbo .white-text p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  font-weight: bold;
}

#header #header-jumbo #jumbo-form {
  background-color: #fff;
  border-radius: 5px;
}

#header #header-jumbo #jumbo-form input::placeholder {
  color: #000;
}

#header #header-jumbo #jumbo-form #blue-btn a {
  background-color: #006aff;
}

#header #header-jumbo #jumbo-form #google-btn p {
  font-weight: bold;
}

#header #header-jumbo #jumbo-form #google-btn a {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border: 1px solid #ccc;
}

#header #header-jumbo #jumbo-form #google-btn img {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 1%;
}

/* Main */

/* Section-main-1 */

#main #section-main-1 img {
  max-width: 100%;
}

#main #section-main-1 .row:last-of-type {
  padding: 2% 0;
}

/* Section-main-2 */

#main #section-main-2 .row:first-of-type {
  padding-bottom: 5%;
}

#main #section-main-2 .link-border {
  border-left: 1px solid black;
  height: 50px;
  line-height: 50px;
  padding: 0 2%;
}

#main #section-main-2 .link-border:last-of-type {
  margin-bottom: 5%;
}

#main #section-main-2 .row img {
  width: 30px;
  height: 30px;
}

#main #section-main-2 .row h4 {
  padding: 1% 0;
}

/* Section-main-3 Section-main-6 CAROUSEL   */

.carousel {
  width: 70%;
  margin: 0 auto;
  padding: 5% 3%;
}

.carousel .carousel-control.left,
.carousel .carousel-control.right {
  background-image: none !important;
  color: #031c4e;
  text-shadow: none;
}

.carousel img {
  width: 80%;
  margin: 0 auto;
}

.carousel .carousel-indicators li {
  border-color: #006aff;
}

.carousel .carousel-indicators li.active {
  background-color: #006aff !important;
}

/* Main-Section-4 */

#section-main-4 h2 {
  padding-bottom: 0%;
}

/* Section-main-5 */

#section-main-5 .table tr td:first-of-type {
  font-weight: bold;
  color: #fff;
}

#section-main-5 .table tr:first-of-type td {
  border-top: none;
  border-left: none;
}

/* Section-main-7 */

#section-main-7 h2 {
  padding-bottom: 2%;
}

#section-main-7 .btn:hover {
  color: white;
  background-color: #006aff;

  transition: 0.3s ease-in-out;
}

/* Footer */

#footer {
  background-color: #031c4e;
  padding: 2% 0;
}

#footer a:hover,
span:hover {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

#footer img {
  width: 40px;
  height: auto;
  padding-bottom: 2%;
}

#footer .fab {
  width: 25px;
}

/*/////////////////////
//////////////////////
    @MEDIA QUARIES
/////////////////////
////////////////////*/

@media (max-width: 767px) {
  #header .navbar-btn {
    margin: 0 0 5px 13px;
  }
}

@media (max-width: 576px) {
  #header {
    text-align: center;
  }

  #header .navbar-btn {
    margin: 0 0 5px 13px;
  }

  #header #jumbo-form {
    margin-top: 5%;
  }

  #section-main-1 img {
    max-width: 100%;
    height: 80px;
  }
}

@media (max-width: 1200px) {
  .navbar-toggle {
    display: block;
    margin-right: 0;
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-header {
    float: none;
  }

  .collapse.in {
    display: block !important;
  }

  .navbar-right {
    margin-right: 10px;
  }
}
